form {
  text-align: center;
}

button {
  margin: 10px;
}

.col-md-5 {
  border: 2px solid black;
}

.showTurnTotal {
  display: none;
}

#rollResult {
  border: 2px solid black;
  display: none;
}

#turnTotal {
  border: 2px solid black;

}

#player1Display {
  display: none;
}

#player2Display {
  display: none;
}
