form {
  text-align: center;
}

button {
  margin: 10px;
}

.jumbotron{
  text-align: center;
  font-size: 4em;
  background-color: #ff6699;
}
.col-md-5 {
  border: 2px solid black;
}

.showTurnTotal {
  display: none;
}

.gameStuff {
  display: none;
}

#navBarList {
  font-size: 1.2em;
  cursor: pointer;
  color: #0088cc;
}

#navBarList:hover {
  text-decoration: underline;
}

#rollResult {
  border: 2px solid black;
  display: none;
}

#turnTotal {
  border: 2px solid black;

}

#player1Display {
  display: none;
}

#player2Display {
  display: none;
}
